/* CUSTOM PRISMETIC STYLES */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

@font-face {
 font-family: 'helvetica';
 src: url('../fonts/Helvetica.otf') format('opentype');
}

body {
  font-family: 'Ubuntu';
}

.prismetic-navbar,
.prismetic-navbar .sidebar a {
  background-color: #005664!important;
}

.prismetic-navbar .sidebar a:hover {
  background-color: #00505c!important;
}

.sidebar .sidebar-main .prismetic-logo {
  float: right;
  padding-right: 20px;
}

.prismetic-img {
  width: 35px;
}

.input-xs {
  height: 35px;
  padding: 7px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.uib-datepicker .text-info,
.btn:not(.btn-raised).btn-info,
.input-group-btn .btn:not(.btn-raised) .btn-info {
  color: #000000;
}

.last, .to, .from {
  font-size: 13px;
  color: grey;
}

.left-bordered {
  border-left: 1px solid #cccccc
}

.devices a,
.sensors a {
  text-decoration: none;
}

.panel-prismetic {
  border-radius: 9px;
  color: #000000;
}

.panel-prismetic.active {
  background-color: #7ee7c9;
  color: #ffffff;
  background: #4ABCBC;
  box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.15);
}

.panel-prismetic .title span {
  font-size: 28px;
  color: #000000;
}

.panel-prismetic .comment span {
  color: #000000;
  font-style:normal;
}

.panel-prismetic.active .title span,
.panel-prismetic.active .comment span {
  color: #FFFFFF;
}

.panel-prismetic .prismetic-rounded i {
  font-size: 40px;
  margin-right: 20px;
}

.panel-prismetic .sensor-content {
  text-align: center;
}

.panel-prismetic .sensor-content {
  font-size: 20px;
}

.panel-prismetic.panel-sm {
  margin: auto;
}

@media(min-width:1200px) {
  .panel-prismetic.panel-sm {
    width: 37%;
    margin: auto;
  }
}

.sensor.description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  text-align: center;
}

.sensor.description .title {
 font-weight: bold;
}

.sensor.description .status {

}

.color-green {
  color: #7ee7c9;
}

.color-red {
  color: #F44336;
}

.clickable {
  cursor: pointer;
}

.metric-number {
  margin-left: 5px;
  font-size: 23px;
  font-weight: bold;
}

.metric-label {
  font-size: 12px;
  color: grey;
}

.top-margened {
  margin-top: 15px;
}

.chart-container {
  min-height: 400px;
}

.chart-container .chart {
  height: 400px;
}

form.editable-text .editable-input {
  color: #FFFFFF;
}

form.editable-text .editable-controls.form-group {
  margin-top: 0;
}

.no-borders {
  border: none;
}

@media(min-width:1200px) {
  .vcontainer {
    display: table;
    table-layout: fixed;
    width:100%;
  }

  .vcontent {
    display:table-cell;
    vertical-align:middle;
    float:none;
  }
}

html, body, section {
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
section{
	position: relative;

}
.login-row{
  height: 100%;
}
.ng-scope{
  height: 100%;
}

.login-row{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 100%,rgba(0,0,0,0.2) 100%), url('../img/login_background.jpeg');
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.login-input{
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: grey;
  font-family: 'helvetica';
  background-image: none!important;
}
.login-button{
  background-color: #00d46a!important;
  border-radius: 5px;
  color: white!important;
  letter-spacing: 1px;
  font-family: 'helvetica';
  border: solid transparent;
  text-transform: uppercase;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.forgot-password-button{
  color: white;
  font-size: 16px;
  font-family: 'helvetica';
}
.login-middle-row{
  height: calc(100% - 135px);
}
.login-top-row{
  height: 100px;
}

.login-bottom-row{
  padding-bottom: 15px;
  height: 35px;
  text-align: right;
}
.all-height{
  height: 100%;
}
.text-right{
  text-align: right;
  padding-right: 15px;
}

.valign-wrapper {
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center; 
}

.valign-wrapper .valign {
 display: block; 
}