/* CUSTOM PRISMETIC STYLES */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
  font-family: 'Ubuntu';
}

.prismetic-navbar,
.prismetic-navbar .sidebar a {
  background-color: #005664!important;
}

.prismetic-navbar .sidebar a:hover {
  background-color:#00505c!important;
}

.sidebar .sidebar-main .prismetic-logo {
  float: right;
  padding-right: 20px;
}

.prismetic-img {
  width: 35px;
}

.input-xs {
    height: 35px;
    padding: 7px 7px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.uib-datepicker .text-info,
.btn:not(.btn-raised).btn-info, 
.input-group-btn .btn:not(.btn-raised) .btn-info {
  color:#FFFFFF;
}

.last, .to, .from {
  font-size: 11px;
  color: grey;
}

.left-bordered {
  border-left: 1px solid #cccccc
}

.devices a,
.sensors a {
  text-decoration:none;
}

.rounded-icon {
  background: #30426a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
}

 .rounded-icon i {
  line-height: 66px;
  color: #ffffff;
  font-size: 30px;
}

.panel-prismetic {
  border-radius: 9px;
}

.panel-prismetic.active {
  background-color: #7ee7c9;
  color: #ffffff;
  background: #4ABCBC;
  box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.15);
}

.panel-prismetic .title {
  font-size:28px;
}
